
.cardtype-icon {
  background: url(https://www.fifplay.com/img/fifa/23/cards/1_12_0.png) no-repeat;
  background-size: contain;
  color: #50442b;
}

.cardtype-icon>.card-split {
  border-color: #9d8957;
}

.cardtype-icon>.headeroverlay {
  background: linear-gradient(to bottom, rgba(238, 238, 238, 0) 8%, rgba(238, 238, 238, 1) 29%, rgba(238, 238, 238, 1) 50%, rgba(238, 238, 238, 1) 81%, rgba(238, 238, 238, 0) 100%);
  display: block;
}

.cardtype-dynamic-duos {
  background: url(https://www.fifplay.com/img/fifa/23/cards/1_150_0.png) no-repeat;
  background-size: contain;
  color: #f1e8f2;
}

.cardtype-dynamic-duos>.card-split {
  border-color: #973c89;
}

.cardtype-dynamic-duos>.headeroverlay {
  background: linear-gradient(to bottom, rgba(37, 30, 43, 0) 8%, rgba(37, 30, 43, 1) 29%, rgba(37, 30, 43, 1) 50%, rgba(37, 30, 43, 1) 81%, rgba(37, 30, 43, 0) 100%);
  display: block;
}

.cardtype-rulebreakers {
  background: url(https://www.fifplay.com/img/fifa/23/cards/1_22_0.png) no-repeat;
  background-size: contain;
  color: #95fbff;
}

.cardtype-rulebreakers>.card-split {
  border-color: #b6337e;
}

.cardtype-rulebreakers>.headeroverlay {
  background: linear-gradient(to bottom, rgba(104, 23, 32, 0) 8%, rgba(104, 23, 32, 1) 29%, rgba(104, 23, 32, 1) 50%, rgba(104, 23, 32, 1) 81%, rgba(104, 23, 32, 0) 100%);
  display: block;
}

.cardtype-bronze {
  background: url(https://www.fifplay.com/img/fifa/23/cards/1_1_1.png) no-repeat;
  background-size: contain;
  color: #2b2217;
}

.cardtype-bronze>.card-split {
  border-color: #c69882;
}

.cardtype-silver {
  background: url(https://www.fifplay.com/img/fifa/23/cards/1_1_2.png) no-repeat;
  background-size: contain;
  color: #26292a;
}

.cardtype-silver>.card-split {
  border-color: #9e9fa0;
}

.cardtype-gold {
  background: url(https://www.fifplay.com/img/fifa/23/cards/1_1_3.png) no-repeat;
  background-size: contain;
  color: #46390c;
  border-color: #9b8133;
}

.cardtype-gold>.card-split {
  border-color: #9b8133;
}